body {
  font-family: 'Contrast Regular';
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
}

img {
  width: 100%;
}

a {
  color: blue;
}

a:hover {
  color: white;
}

@font-face {
  font-family: 'Contrast Regular';
  src: url('./font/contrast.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'founders';
  src: url('./font/founders.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

.hm-page {
  position: relative;
}

.hm-main-content {
  padding: 2.5%;
}

.hm-project-container {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.hm-project-container--left {
  width: 30%;
}

.hm-project-container--right {
  width: 70%;
  margin-left: 2%;
}

.hm-project-container--middle {
  width: 30%;
}

.hm-poster-container-right {
  width: 40%;
  margin: 0 4.5% 0 1.5%;
}

.hm-poster-container-middle {
  width: 20%;
  padding: 0;
}

/* Text Styling */

.hm-title {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight:  bolder;
}

.hm-subtitle {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.hm-header-container {
  width: 28%;
  font-size: 60px;
  color: black;
  background-color: white;
  margin-bottom: 5%;
  padding-left: 10px;
}

.hm-header-container--small {
  font-size: 20px;
  padding: 5px;
}

.hm-header-container--tiny {
  font-size: 10px;
  padding: 5px;
}
/* Img Styling */

.hm-image {
  padding-bottom: 20px;
}

.hm-image--small {
  width: 50%;
}

.hm-image--tiny {
  width: 50%;
  margin-left: 5%;
}

.hm-image--poster {
  padding-bottom: 0px;
  width: 84%;
}
